/* for fullpage view, master stylesheet shoule have body margin set to 0 */
/* body {margin: 0} */

#hifile{
  font-family: monospace, serif;
  font-size: 14px;
  position:relative;
  margin: 0;
}

#hifile #col {
  position: absolute;
  top: 0;
  left: 0;
  width:48px;
  text-align:right;
  background-color: #E7E7E7;
}

#hifile #code {
  margin-left:48px;
  overflow:auto;
  color:#474747;
}

#hifile .cl {
  height: 14px;
  padding: 3px 2px 3px 6px;
  line-height: 0.9;
  white-space: pre;
  display:block;
}

#hifile .hl{
  background-color: #FCF082;
}

#hifile .ln {
  line-height: 0.9;
  font-family: monospace, serif;
}

#hifile .ln a {
  color: #999;
  text-decoration:none;
  height: 14px;
  padding: 3px 6px 3px 10px;
  display:inline-block;
}

/* highlighting theme */

#hifile .comment {
  color: #8E908C;
}

#hifile .function, #hifile .title, #hifile .function .title {
  color: #C6413E;
  font-weight: bold;
}

#hifile .variable, #hifile .attribute, #hifile .tag, #hifile .regexp, #hifile .constant,
#hifile .tag .title, #hifile .doctype, #hifile .html .doctype, #hifile .css .id,
#hifile .css .class, #hifile .css .pseudo {
  color: #C82829;
}

#hifile .function, #hifile .params {
  color:#474747;
  font-weight:normal;
}

#hifile .number, #hifile .processor, #hifile .built_in, #hifile .literal, #hifile .constant {
  color: #F79151;
}

#hifile .class, #hifile .title, #hifile .css .rules .attribute {
  color: #eab700;
}

#hifile .string, #hifile .value, #hifile .inheritance, #hifile .header, #hifile .symbol, #hifile .cdata {
  color: #80B1CC;
}

 #hifile.css .hexcolor {
  color: #3E999F;
}

#hifile .keyword, #hifile .function {
  color: #4A658B;
  font-weight: bold;
}
