/* LOTS css */
body {

    background: #FFF;
    color: #333;
    font-family: cambria,georgia,serif;
    margin:0;
}
h1 span {
    font-size: 0.7em;
    margin-left:1em;
}

h1 {
  font-size:2em;
  color:#333;
  padding-left: 20px;
  background: url('/img/blanklots.png') no-repeat 5px 5px;
  background-size: 16px 16px;
  font-family: cambria,georgia,serif;
  margin: 0;
}

.logo {
  margin: 0 0 1em 0.2em;
  font-size: 0.7em;
}

.logo span a {
  margin-left: 0.5em;
  color: #23ADFF;
}

span.summary {
  font-size: 0.6em;
}

#menu {
  height: 50px;
  position:fixed;
  top: 0;
  width: 100%;
  padding: 2px 0px 0px 0px;
  background-color: #FFF;
  -moz-box-shadow: 0px 5px 5px #FFF;
  -webkit-box-shadow: 0px 5px 5px #FFF;
  box-shadow: 0px 5px 5px #FFF;
}

#help {
  padding-top: 2px;
  max-width: 750px;
  line-height: 1.5em;
}

#help  code {
  background: #F1F1F1;
  padding: 2px;
}


.lots a.hifile {
  display: block;
  color: #333;
}

.lots .priority a.hifile {
  color: #fff;
}

.meta {
  position:absolute;
  right:0;
  top:0;
  padding: 0 20px 0 0;
}

#container {
  margin: 60px 10px 40px 10px;
}

.lots ul {
  list-style-type: none;
  margin-top: 10px;
}

.lots ul li{
  font-size: 2em;
  display: inline-block;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

/* from LOTS */
.lots a {
  color: #23ADFF;
}

/* LOTS css */
.lots table {
    width: 100%;
    border-bottom: 2px solid #333;
}
.lots tbody tr:not(.tagGroup) {
    border-top: 1px dotted #333;
}
.lots tr:nth-child(2n) {
    background: #F1F1F1;
}
.lots tr td.tag {
    vertical-align: top;
    max-width: 10em;
    padding-right: 0.5em;
    background: #fff;
}
.lots .tag h2 {
    margin: 0;
    font-size: 1.3em;
}
.lots .tagGroup {
    border-top: 2px solid #333;
}
.lots .priorityHead {
    padding-left: 0.3em;
}
.lots tr td.priority {
    width: 4em;
    padding: 0 0.1em;
    background: #E6E6E6;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
.lots .order {
    width: 1.8em;
    padding-left: 0.5em;
    font-size: 1.4em;
}
.lots .id {
    padding-left: 0.5em;
}
.lots .line {
    width: 3.2em;
    font-size: 0.9em;
}
.lots thead td {
    font-weight: bold;
}
.lots span.pnone { visibility: hidden;}
.lots tr td.p1 { background: #FF0000; }
.lots tr td.p2 { background: #FF3F07; }
.lots tr td.p3 { background: #FF8000; }
.lots tr td.p4 { background: #FFBA00; }
.lots tr td.p5 { background: #FFD796; }
.lots .comment {
    padding-right: 1.5em;
    font-family: helvetica;
    font-size: 0.9em;
}
.lots .file {
    font-size: 0.8em;
    text-align: right;
    padding-right: 10px;

    overflow-wrap: break-word;
    max-width: 300px;
}
.lots .fileHeader{
    text-align:right;
    padding-right: 15px;
}
.lots .cache {
    font-size: 0.7em;
    line-height: 1.3em;
    margin-left:20px;
}
.lots .cache span {
    background: #23ADFF;
    padding: 0.2em;
    color:#FFF;
    font-weight:bold;
}
