<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/img/lots.png">
  <title>LOTS <% file %></title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/css/hifile/hifile.css"/>
  <link rel="stylesheet" type="text/css" href="/css/hifile/hljs-theme-solarized-dark.css"/>
</head>
<body>
<%- hifile %>
<script src="/js/hifile/hifile.js"></script>
<script>window.onload = function(){hifile.init()};</script>
</body>
</html>
